html {
  font-size: 14px;
}
.titles {
    background: linear-gradient(180deg, rgba(150, 92, 34, 1) 10%, rgba(150, 92, 34, 0.93) 16%, rgba(150, 92, 34, 1) 20%, rgba(150, 92, 34, 1) 30%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-container {
    background-color: #FFFFFF;
    width: 450px;
    height: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#random_x, #random_o {
    position: absolute;
    top: -100px;
    right: -100px;
    z-index: -1;
}

#classic-menu {
    display: none;
}
#join-menu {
    display: none;
}
#settings {
    display: none;
}
.game_font {
    font-family: "Comic Sans MS"
}
.menu_buttons {
    padding: 0.5em, 1em;
    background: linear-gradient(220deg, rgba(150, 92, 34, 1) 10%, rgba(150, 92, 34, 1) 16%, rgba(150, 92, 34, 1) 25%, rgba(150, 92, 34, 1) 40%, rgba(0, 0, 0, 1) 100%);
    width: 40%;
    color: #e3e2e2;
    transition: all 200ms ease-in;
    border: none;
}
.menu_buttons:hover {
    transform: scale(1.1);
    color: #e3e2e2;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #D9D9D9;
    overflow:hidden
}