@{
    ViewData["Title"] = "Home Page";
}

<div id="main-menu">
    @await Component.InvokeAsync("MainMenu")
</div>

<div id="classic-menu">
    @await Component.InvokeAsync("ClassicMenu")
</div>
<div id="join-menu">
    @await Component.InvokeAsync("JoinAFriend")
</div>
<div id="settings">
    @await Component.InvokeAsync("Settings")
</div>