<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tiktaktoe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tiktaktoe.styles.css" asp-append-version="true" />
</head>
<body onload="getRandomPositions()">
    <header>
        <div class="container-fluid border d-flex modal-header border-0">
            <h3 class="m-0 game_font display-6 fw-bold titles"> TIX TAX TOE</h3>
            <a class="display-6 text-decoration-none fw-bold fst-italic titles" href="https://nbj-dev.me" target="_blank">N.B.J.</a>
        </div>
    </header>
    <div class="titles game_font display-4" id="random_x"> X </div>
    <div class="titles game_font display-4" id="random_o"> O </div>
    <div class="container">
        <main role="main" class="pb-3">
            <div class=" mt-2 container game-container">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="footer text-muted ">
        <div class="container text-center titles">
            &copy; nbj-dev 2023 - Tiktaktoe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
