<div class="py-3 titles text-center">
    <h2 class="game_font"> Join A Friend! </h2>
</div>

<div class="w-100 d-flex flex-column gap-4 justify-content-around align-items-center">
    Here will be the teh settings to join a friend
</div>